<!DOCTYPE html>
<html lang="es-ES">
<html>
<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<div style="position:relative; top: 210px;">
	<body>
		<p align="center">
		<a href="https://imgur.com/6fXHutk">
		<img style="border-radius: 25px; position: absolute; right: 375px; top: 80px;" src="https://i.imgur.com/6fXHutk.png?1" title="OneekoChat" /></a>
		<style>
		.cancelbtn { width: auto; padding: 10px 18px; background-color: #f44336; }
		.container { padding: 16px; width: 30%; margin: auto; }
		.normlbtn { width: auto; padding: 10px 18px; background-color: #090177 }
		button { background-color: #090177; color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%; }
		button:hover { opacity: 0.8; }
    	body {font-family: "Lato", sans-serif}
	}
</style>
<body style="background-color: #A9BCF5">
	<div style="position: absolute; right: 391px; top: 190px;">
		Bienvenido, {{ ActualUser }}
    </div>
	<form method="POST" action="/2AddF">
	  <div class="container">
	  	<input style="text-align: center;" type="text" placeholder="New Contact ID" name="User ID" required><br><br>
	    <button type="submit">Add as a friend</button>
		</form>
	  </div>
	  	<form method="POST" action="/2Main">
	    	<button class="cancelbtn" type="submit" method="POST" name="CancelBtn">Cancel</button>
	    <form>
</body>
</html>
